language: python

install:
  - pip install pipenv
  - export PIPENV_IGNORE_VIRTUALENVS=1
  - export PIPENV_VENV_IN_PROJECT=1
  - pipenv sync --dev
script:
  - pipenv run pytest --cov=src --cov-config=.coveragerc
  - pipenv run black --check --include src/ test/ --exclude .*.pyc -t py37 ./
after_success:
  pipenv run coveralls